.cy {
    height: 70vh;
    width: 35vw;
    position: relative;
    background-color: lightgrey;
    border-radius: 15px;
}

#layout {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.left-space {
    margin-left: 120px;
}

.right-space {
    margin-right: 120px;
}

.col {
    display: flex;
    flex-direction: column;
}

button {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
}

.grid {
    align-items: center;
}